doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Test 2
    link(rel='stylesheet', href='./css/app.css')
  body#box
    h1 Test 2

    button#colorize Colorize

    input#input(type='text')

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
