
#main {
  max-width: 600px;
  margin: 0 auto;
}


div {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  background-color: blue;
  position: relative;
  top: 200px;
  left: 20px;
  width: 500px;

}
