doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JS++
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 The Ring

  #controls
    select#type
      option Inigo Montoya
      option Chuck Norris
      option Rocky Balboa
      option Jackie Chan
    input#name('type=text' 'placeholder=Name')
    input#age('type=text' 'placeholder=Age')
    select#gender
      option Male
      option Female

    select#weapon
      option judochop
      option roundhousekick
      option uppercut
      option swordswipe

    button#add Add



    #chuck

    #jackie

    #inigo

    #rocky


    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/utility.js')
    script(src='./js/es6/rocky.js')
    script(src='./js/es6/jackie.js')
    script(src='./js/es6/inigo.js')
    script(src='./js/es6/chuck.js')
    script(src='./js/es6/main.js')
